<%= form_for(@dj_submission) do |f| %>
  <% if @dj_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dj_submission.errors.count, "error") %> prohibited this dj_submission from being saved:</h2>

      <ul>
      <% @dj_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
	<legend>Style Information</legend>
  <p>
    <%= f.label :musical_style %><br />
    <%= f.text_field :musical_style %>
  </p>
  <p>
    <%= f.label :other_music %><br />
    <%= f.text_area :other_music %>
  </p>
  <p>
    <%= f.label :live_links %><br />
    <%= f.text_area :live_links %>
  </p>
  <p>
    <%= f.label :career %><br />
    <%= f.text_area :career %>
  </p>
 
  <p>
    <%= f.label :want_to_play %><br />
    <%= f.text_area :want_to_play %>
  </p>
  <p>
    <%= f.label :gear_requirements %><br />
    <%= f.text_area :gear_requirements %>
  </p>
  <p>
    <%= f.label :festival_history %><br />
    <%= f.text_area :festival_history %>
  </p>
  <p>
    <%= f.label :additional_notes %><br />
    <%= f.text_area :additional_notes %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
