<p id="notice"><%= notice %></p>

<p>
  <b>Musical style:</b>
  <%= @dj_submission.musical_style %>
</p>

<p>
  <b>Other music:</b>
  <%= @dj_submission.other_music %>
</p>

<p>
  <b>Live links:</b>
  <%= @dj_submission.live_links %>
</p>

<p>
  <b>Career:</b>
  <%= @dj_submission.career %>
</p>

<p>
  <b>6-16-day:</b>
  <%= @dj_submission.6-16-day %>
</p>

<p>
  <b>6-17-day:</b>
  <%= @dj_submission.6-17-day %>
</p>

<p>
  <b>6-22-day:</b>
  <%= @dj_submission.6-22-day %>
</p>

<p>
  <b>6-23-day:</b>
  <%= @dj_submission.6-23-day %>
</p>

<p>
  <b>6-24-day:</b>
  <%= @dj_submission.6-24-day %>
</p>

<p>
  <b>6-16-evening:</b>
  <%= @dj_submission.6-16-evening %>
</p>

<p>
  <b>6-17-evening:</b>
  <%= @dj_submission.6-17-evening %>
</p>

<p>
  <b>6-22-evening:</b>
  <%= @dj_submission.6-22-evening %>
</p>

<p>
  <b>6-23-evening:</b>
  <%= @dj_submission.6-23-evening %>
</p>

<p>
  <b>6-24-evening:</b>
  <%= @dj_submission.6-24-evening %>
</p>

<p>
  <b>6-16-night:</b>
  <%= @dj_submission.6-16-night %>
</p>

<p>
  <b>6-22-night:</b>
  <%= @dj_submission.6-22-night %>
</p>

<p>
  <b>6-23-night:</b>
  <%= @dj_submission.6-23-night %>
</p>

<p>
  <b>Want to play:</b>
  <%= @dj_submission.want_to_play %>
</p>

<p>
  <b>Gear requirements:</b>
  <%= @dj_submission.gear_requirements %>
</p>

<p>
  <b>Festival history:</b>
  <%= @dj_submission.festival_history %>
</p>

<p>
  <b>Additional notes:</b>
  <%= @dj_submission.additional_notes %>
</p>


<%= link_to 'Edit', edit_dj_submission_path(@dj_submission) %> |
<%= link_to 'Back', dj_submissions_path %>
