<%= form_for @artist do |f| %>
  <%= render "shared/error_messages", :target => @artist %>
<fieldset>
	<legend>Personal Information</legend>
	  <div>
	    <%= f.label :first_name %>
	    <%= f.text_field :first_name %>
	  </div>
	  <div>
	    <%= f.label :last_name %>
	    <%= f.text_field :last_name %>
	  </div>
	  <div>
	    <%= f.label :professional_name %>
	    <%= f.text_field :professional_name %>
	  </div>
	  <div>
	    <%= f.label :bio %>
	    <%= f.text_area :bio, :maxlength => "300" %>
	    <p>
		<small style="float:right;">Maximum length 300 characters</small>
		</p>
	  </div><br />
	  <div>
        <%= f.label :require_representation %>
		<%= f.check_box :require_representation %>
	    <a href="#?w=500" rel="popup_represent" class="poplight">Learn More</a>   
	  </div>
</fieldset>
<fieldset>
	<legend>Contact Information</legend>
	<div class="notes">
      <h4>Contact Information</h4>
      <p class="last">This is the address we use for correspondence. This address can be a PO Box</p>
     </div>
	<div>
	  <%= f.label :email %>
	  <%= f.text_field :email, :value => @artist.email ||= current_user.email %>
	</div>
	<div>
	  <%= f.label :email %>
	  <%= f.text_field :email_confirmation %>
	</div>
	<div>
	  <%= f.label :phone %>
	  <%= f.text_field :phone %>
	</div>
	  <div>
	    <%= f.label "Address Line 1" %>
	    <%= f.text_field :mailing_address_line1 %>
	  </div>
	  <div>
	    <%= f.label "Address Line 2" %>
	    <%= f.text_field :mailing_address_line2 %>
	  </div>
	  <div>
	    <%= f.label "City" %>
	    <%= f.text_field :mailing_city %>
	  </div>
	  <div>
	    <%= f.label "State/Province" %>
	    <%= f.text_field :mailing_state %>
	  </div>
	  <div>
	    <%= f.label "Zip" %>
	    <%= f.text_field :mailing_zip %>
	  </div>
	  <div>
	    <%= f.label "Country" %>
	    <%= f.country_select :mailing_country, ["United States"] %>
	  </div>
</fieldset>
  <p>
	<%= f.check_box :shipping_same_as_mail, :id => "shipping-check" %>
    <%= f.label :shipping_same_as_mail %>
    
  </p>
<fieldset>
	<legend>Shipping Information</legend>
	<div class="notes">
      <h4>Shipping Information</h4>
      <p class="last">This is where we will be returning your art if it needs to be shipped.  This cannot be a PO Box.</p>
     </div>
<div id="shipping-address">
	  <p>
	    <%= f.label "Address Line 1" %>
	    <%= f.text_field :shipping_address_line1 %>
	    <small>Cannot be a PO box</small>
	  </p>
	  <p>
	    <%= f.label "Address Line 2" %>
	    <%= f.text_field :shipping_address_line2 %>
	  </p>
	  <p>
	    <%= f.label "City" %>
	    <%= f.text_field :shipping_city %>
	  </p>
	  <p>
	    <%= f.label "Zip" %>
	    <%= f.text_field :shipping_zip %>
	  </p>
	  <p>
	    <%= f.label "State/Province" %>
	    <%= f.text_field :shipping_state %>
	  </p>
	  <p>
	    <%= f.label "Country" %>
	    <%= f.country_select :shipping_country, ["United States"] %>
	  </p>
</div>
  <div>
	<%= f.label :shipping_company %>
	<%= f.select(:shipping_company, options_for_select([['Federal Express', 'Federal Express'], ['UPS', 'UPS'], ['USPS', 'USPS'], ['Fly By Night', 'Fly By Night']], @artist.shipping_company), {:include_blank => true, :width => "200px"}) %>
    <a href="#?w=500" rel="popup_shipping" class="poplight">Learn More</a>
  </div>
  <div>
    <%= f.label "Shipping Account Number" %>
    <%= f.text_field :shipping_account %>
  </div>
</fieldset>


  <p>
	<% if current_user.is_admin? %>
	  <p>
		<%= f.label :paid_literary %><br />
		<%= f.check_box :paid_literary %>
	  </p>
	  <p>
		<%= f.label :paid_visual %><br />
		<%= f.check_box :paid_visual %>
	  </p>
	<% end %>
		<%= f.submit "Save Profile" %></p>
<% end %>


<div id="popup_shipping" class="popup_block">
    <h2>Shipping Company</h2>
    <p>This is a lot of stuff that I don't know how to answer but should go in this box.</p>
</div>

<div id="popup_represent" class="popup_block">
    <h2>Require Representation</h2>
    <p>This is a lot of stuff that I don't know how to answer but should go in this box.</p>
</div>
