<%= form_for @artist do |f| %>
  <%= render "shared/error_messages", :target => @artist %>
<fieldset>
	<legend>Artist Information</legend>
	  <div class="notes">
	      <h4>Artist Information</h4>
	      <p class="last">We need the artist’s full legal name so that we can send a check if their art sells. If a professional name is provided, that is what will be used publicly (on the website gallery, in the Festival catalog, on the art labels, etc.)</p>
      </div>
	  <div>
	    <%= f.label :first_name, "Legal First Name" %>
	    <%= f.text_field :first_name %>
	  </div>
	  <div>
	    <%= f.label :last_name, "Legal Last Name" %>
	    <%= f.text_field :last_name %>
	  </div>
	  <div>
	    <%= f.label :professional_name %>
	    <%= f.text_field :professional_name %>
	  </div>
	  <div>
	    <%= f.label :bio %>
	    <%= f.text_area :bio, :maxlength => "300" %>
	    <p>
		<small style="float:right;">Maximum length 300 characters</small>
		</p>
	  </div><br />
	  <!-- <div class="notes">
	      <h4>Require Representation</h4>
	      <p class="last">By checking this box, you are authorizing your gallery, dealer, or agent to negotiate and share information with the Festival on your behalf. Please only choose this option if you would like the Festival’s staff to interact with this person instead of with you.</p>
      </div> -->
	  <div>
		<%= f.check_box :require_representation, :id => "represent-check" %>
        <%= f.label :require_representation, "Check this box if you are submitting on behalf of the artist, as their legal representative." %>
	     <a href="#?w=500" rel="popup_represent" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
	  </div>
	<br />
	<div id="represent">
	  <fieldset>
		<legend>Representative Information</legend>
		<div>
	    <%= f.label :representname, "Representative's Name" %>
	    <%= f.text_field :representname %>
	  </div>
	  <div>
	    <%= f.label :represent_gallery, "Gallery Name (If Applicable)" %>
	    <%= f.text_field :represent_gallery %>
	  </div>
	  </fieldset>
	</div>
</fieldset>
<fieldset>
	<legend>Contact Information</legend>
	<small>Either of artist or artist legal representative.</small>
	<div class="notes">
      <h4>Contact Information</h4>
      <p class="last">This is the address we use for correspondence. This address can be a PO Box.  If contact address is a PO Box, please provide a different shipping address below.</p>
     </div>
	<div>
	  <%= f.label :email %>
	  <%= f.text_field :email, :value => @artist.email ||= current_user.email %>
	</div>
	<div>
	  <%= f.label "Re-enter Email" %>
	  <%= f.text_field :email_confirmation %>
	</div>
	<div>
	  <%= f.label :phone %>
	  <%= f.text_field :phone %>
	</div>
	  <div>
	    <%= f.label :mailing_address_line1, "Address Line 1" %>
	    <%= f.text_field :mailing_address_line1 %>
	  </div>
	  <div>
	    <%= f.label :mailing_address_line2, "Address Line 2" %>
	    <%= f.text_field :mailing_address_line2 %>
	  </div>
	  <div>
	    <%= f.label :mailing_city, "City" %>
	    <%= f.text_field :mailing_city %>
	  </div>
	  <div>
	    <%= f.label :mailing_state, "State/Province" %>
	    <%= f.text_field :mailing_state %>
	  </div>
	  <div>
	    <%= f.label :mailing_zip, "Zip Code or Postal Code" %>
	    <%= f.text_field :mailing_zip %>
	  </div>
	  <div>
	    <%= f.label :mailing_country, "Country" %>
	    <%= f.country_select :mailing_country, ["United States"] %>
	  </div>
</fieldset>
  <p>
	<%= f.check_box :shipping_same_as_mail, :id => "shipping-check" %>
    <%= f.label :shipping_same_as_mail, 'Shipping Same As Mail.  (Note that your shipping address cannot be a PO Box.)' %><br />

    
    
  </p>
<fieldset id="shipping-address">
	<legend>Shipping Address</legend>
	<div class="notes">
      <h4>Shipping Address</h4>
      <p class="last">This is where we will be returning your art if it needs to be shipped.  This cannot be a PO Box.</p>
     </div>
	  <div>
	    <%= f.label "Address Line 1" %>
	    <%= f.text_field :shipping_address_line1 %>
	    <small>Cannot be a PO box</small>
	  </div>
	  <div>
	    <%= f.label "Address Line 2" %>
	    <%= f.text_field :shipping_address_line2 %>
	  </div>
	  <div>
	    <%= f.label "City" %>
	    <%= f.text_field :shipping_city %>
	  </div>
	  <div>
	    <%= f.label "State/Province" %>
	    <%= f.text_field :shipping_state %>
	  </div>
	  <div>
	    <%= f.label "Zip" %>
	    <%= f.text_field :shipping_zip %>
	  </div>
	  <div>
	    <%= f.label "Country" %>
	    <%= f.country_select :shipping_country, ["United States"] %>
	  </div>
</fieldset>
<fieldset>
	<legend>Delivery/Return Arrangements</legend>
	  <small>Visual artists, installation artists and Festival Store artists must provide the following information.</small><br />
      <small><i>Note: Delivery address is NOT at Fremont Studios.</i></small>
	  <div class="notes">
	      <h4>Return Information</h4>
	      <p class="last">Note that if no return shipping label is provided and no one picks up the art, it will be considered a donation to the Foundation for Sex Positive Culture, producer of the Festival.</p>
	      <br />
		  <p class="last">Note that shipping labels are not billed until the label is scanned and processed for return shipping, so if your art sells and there is no return, there is no charge.</p>
    </div>
	   <div>
		 <%= f.label :delivery_arrangements %>
		 <%= f.select(:delivery_arrangements, options_for_select([["I (or my authorized agent) will drop off my work in person"], ['I will ship my work to the Festival with my carrier of choice']], @artist.delivery_arrangements), {:include_blank => true, :width => "200px"}) %>
	   </div>
	   <div>
		<%= f.label :return_arrangements %>
		<%= f.select(:return_arrangements, options_for_select([["I (or my authorized agent) will pick up my unsold work in person"], ['I will include a return shipping label with the original shipment of art (with the carrier of your choice)'],['I will donate any unsold items to the Foundation'], ['I would prefer to have my shipping account directly billed']], @artist.return_arrangements), {:include_blank => true, :width => "200px"}) %>	
	   </div>
	   <div id="shipping-co">
		<p>
		<%= f.label :shipping_company %>
		<%= f.select(:shipping_company, options_for_select([['Federal Express'], ['UPS'], ['DHL']], @artist.shipping_company), {:include_blank => true, :width => "200px"}) %>
		   <a href="#?w=500" rel="popup_shipping" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
	   </p>
	   <p>
	    <%= f.label "Shipping Account Number" %>
	    <%= f.text_field :shipping_account %>
	  </p>
	 </div>
</fieldset>
  <p>
	<% if current_user.is_admin? %>
	  <p>
		<%= f.label :literary_paid %><br />
		<%= f.check_box :literary_paid %>
	  </p>
	  <p>
		<%= f.label :visual_paid %><br />
		<%= f.check_box :visual_paid %>
	  </p>
	  <p>
		<%= f.label :installation_paid %><br />
		<%= f.check_box :installation_paid %><br />
	  </p>
	  <p>
		 <%= f.label :film_paid %><br />
		 <%= f.check_box :film_paid %>
	  </p>
	<% end %>
		<%= f.submit "Save Profile" %></p>
<% end %>


<div id="popup_shipping" class="popup_block">
    <h2>Shipping Company</h2>
    <p>This is the carrier of your choice. You will provide an account number for us to bill, or a return shipping label with this carrier, for us to use when sending back any of your unsold work.</p>
</div>

<div id="popup_represent" class="popup_block">
    <h2>Require Representation</h2>
    <p>By checking this box, you are informing us that you are representing this artist as their gallery, dealer, or agent, and that you are negotiating and sharing information with the Festival on their behalf. The contact information below should therefore be yours and not the artist’s. Please only choose this option if you would like the Festival’s staff to interact with you instead of the artist.</p>
</div>
