<h3><%= @artist.first_name %> <%= @artist.last_name %><br /></h3>
<fieldset>
	<legend>Personal Information</legend>
		<p>
		  <strong>Professional Name:</strong>
		  <%= @artist.professional_name %>
		</p>
</fieldset>
<fieldset>
	<legend>Contact Information</legend>
		<p>
		  <strong>Email:</strong>
		  <%= @artist.email %>
		</p>
		<p>
		  <strong>Phone:</strong>
		  <%= @artist.phone %>
		</p>
		<p>
		  <strong>Mailing Address Line1:</strong>
		  <%= @artist.mailing_address_line1 %>
		</p>
		<p>
		  <strong>Mailing Address Line2:</strong>
		  <%= @artist.mailing_address_line2 %>
		</p>
		<p>
		  <strong>Mailing City:</strong>
		  <%= @artist.mailing_city %>
		</p>
		<p>
		  <strong>Mailing State:</strong>
		  <%= @artist.mailing_state %>
		</p>
		<p>
		  <strong>Mailing Zip:</strong>
		  <%= @artist.mailing_zip %>
		</p>
		<p>
		  <strong>Mailing Country:</strong>
		  <%= @artist.mailing_country %>
		</p>
</fieldset>
<fieldset>
	<legend>Additional Information</legend>
		<p>
			<strong>Store and Visual Art Shipped Together</strong>
			<%= best_in_place @artist, :store_shipped_with_visual, :type => :checkbox %>
		<p>
			<strong>Paperwork Complete</strong>
			<%= best_in_place @artist, :paperwork_complete, :type => :checkbox %>
		</p>
		<p>
			<strong>Paperwork Notes</strong>
			<%= best_in_place @artist, :paperwork_notes, :type => :textarea %>
		</p>
		<p>
			<strong>Return Arrangements</strong>
			<%= best_in_place @artist, :return_arrangements, :type => :select, :collection => [["I (or my authorized agent) will pick up my unsold work in person", "I (or my authorized agent) will pick up my unsold work in person"], ["I will include a return shipping label with the original shipment of art (with the carrier of your choice)", "I will include a return shipping label with the original shipment of art (with the carrier of your choice)"],["I will donate any unsold items to the Foundation", "I will donate any unsold items to the Foundation"], ["I would prefer to have my shipping account directly billed", "I would prefer to have my shipping account directly billed"],["See Notes", "See Notes"]], :nil => @artist.return_arrangements, :id => "ship-check" %>
		</p>
		<p>
			<%= link_to "Notes", edit_notes_artist_path(@artist), :class => "admin_notes"%>
		</p>
</fieldset>
<fieldset>
	<legend>Shipping Information</legend>
		<% if !@artist.shipping_same_as_mail?%>
			<p>
			  <strong>Shipping Address Line1:</strong>
			  <%= @artist.shipping_address_line1 %>
			</p>
			<p>
			  <strong>Shipping Address Line2:</strong>
			  <%= @artist.shipping_address_line2 %>
			</p>
			<p>
			  <strong>Shipping City:</strong>
			  <%= @artist.shipping_city %>
			</p>
			<p>
			  <strong>Shipping State:</strong>
			  <%= @artist.shipping_state %>
			</p>
			<p>
			  <strong>Shipping Zip:</strong>
			  <%= @artist.shipping_zip %>
			</p>
			<p>
			  <strong>Shipping Country:</strong>
			  <%= @artist.shipping_country %>
			</p>
		   <% end %>
		<p>
		  <strong>Shipping Company:</strong>
		  <%= best_in_place @artist, :shipping_company %>
		</p>
		<p>
		  <strong>Shipping Account:</strong>
		  <%= best_in_place @artist, :shipping_account %>
		</p>
		<p>
		  <strong>Shipping Label:</strong>
		  <%= best_in_place @artist, :shipping_label, :type => :checkbox %>
		</p>
		<p>
			<strong>Tracking Number:</strong>
			<%= best_in_place @artist, :tracking_number %>
		</p>
		<p>
			<strong>Picked Up By:</strong>
			<%= best_in_place @artist, :pickedup_by %>
		</p>
</fieldset>

		
<br />
<% if @visual_submissions.count > 0 %>
	Visual Submissions<br />
	<table id="artist-visual-index" class="display">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Price</th>
				<th>Acceptance Status</th>
				<th>Art Recvd</th>	
				<th>Return Status</th>
				<th>Test</th>
			</tr>
	    </thead>
		<tbody>
		<% for visual_submission in @visual_submissions %>
		<tr>
			<td><%= link_to visual_submission.id, edit_visual_submission_path(visual_submission) %></td>
			<td><%= link_to visual_submission.title, edit_visual_submission_path(visual_submission) %></td>
			<td><%= visual_submission.sale_price %></td>
			<td><%= link_to visual_submission.acceptance_status, edit_visual_submission_path(visual_submission) %></td>
			<td><%= visual_submission.received %></td>
			<td><%= best_in_place visual_submission, :return_status, :type => :select, :collection => [["Sold", "Sold"],["Shipped", "Shipped"],["Donated", "Donated"]] %>
			<td>Test</td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>

<br />
<% if @store_submissions.count > 0 %>
	Store Submissions<br />
	<table id="artist-store-index" class="display">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Type</th>
				<th>Price</th>
				<th>Quantity Accepted</th>
				<th>Quantity Received</th>
				<th>Quantity Returned</th>
			</tr>
		</thead>
		<tbody>
			<% for store_submission in @store_submissions %>
			<tr>
				<td><%= link_to store_submission.id, edit_store_submission_path(store_submission) %></td>
				<td><%= link_to store_submission.title, edit_store_submission_path(store_submission) %></td>
				<td><%= store_submission.type %></td>
				<td><%= store_submission.price %></td>
				<td><%= store_submission.quantity_accepted %></td>
				<td><%= store_submission.quantity_received %></td>
				<td><%= best_in_place store_submission, :quantity_returned, :nil => store_submission.quantity_returned %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
<% end %>
<p>
  <%= link_to "Edit", edit_artist_path(@artist) %> |
  <%= link_to "View All", artists_path %>
</p>
