<% title "Artists" %>

<!-- ><table class="index-table"> -->
<table id="artist-index" class="display">
	<thead>
	  <tr>
		<th>Artist ID</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Professional Name</th>
	    <th>Email</th>
		<th>Acceptance Status</th>
		<th>Store Submit?</th>
	    <th>Visual Submissions</th>
	  </tr>
	</thead>
	<tbody>
	  <% for artist in @artists %>
	    <tr>
		  <td><%= link_to artist.id, artist_path(artist) %></th>
	      <td><%= link_to artist.first_name, artist_path(artist) %></td>
	      <td><%= link_to artist.last_name, artist_path(artist) %></td>
	      <td><%= link_to artist.professional_name, artist_path(artist) %></td>
	      <td><%= mail_to artist.email %></td>
		  <td>
			<% if artist.acceptance_status == 0 %>
				Declined
			<% elsif artist.acceptance_status > 0 && artist.acceptance_status < 10 %>
				Accepted
			<% else %>
			    Invited
			<% end %>
		  </td>
		  <td>
			<% if artist.store_submissions.count > 0 %>
				Yes
			<% else %>
			    No
			<% end %>
		  </td>
	      <td>
		    <% if artist.visual_submissions == nil %>
				No Submissions
		    <% else %>
				<% for submission in artist.visual_submissions %>
				   <%= link_to submission.title, visual_submission_path(submission) %></br>
				<% end %>
			<% end %>
		  </td>
	    </tr>
	  <% end %>
	</tbody>
</table>