<% title "Artists" %>

<!-- ><table class="index-table"> -->
<table id="artist-index" class="display">
	<thead>
	  <tr>
		<th>Artist ID</th>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Professional Name</th>
	    <th>Email</th>
		<th>Visual Acceptance Status</th>
		<th>Accepted into the Store</th>
		<% if current_user.is_admin? %>
	    	<th>Bio</th>
        <% end %>
		<th>Notes</th>
	  </tr>
	</thead>
	<tbody>
	  <% for artist in @artists %>
	    <tr>
		  <td><%= link_to artist.id, artist_path(artist) %></th>
	      <td><%= link_to artist.first_name, artist_path(artist) %></td>
	      <td><%= link_to artist.last_name, artist_path(artist) %></td>
	      <td><%= link_to artist.professional_name, artist_path(artist) %></td>
	      <td><%= mail_to artist.email %></td>
		  <td>
			<% if artist.acceptance_status == 0 %>
				Declined
			<% elsif artist.acceptance_status > 0 && artist.acceptance_status < 10 %>
				Accepted
			<% else %>
			    Invited
			<% end %>
		  </td>
		  <td>
			<% if artist.store_submissions.count > 0 %>
				Yes
			<% else %>
			    No
			<% end %>
		  </td>
		  <% if current_user.is_admin? %>
	      <td>
			<%= best_in_place artist, :bio %>
		  </td>
	      <% end %>
		  <td><%= link_to "Notes", edit_notes_artist_path(artist), :class => "admin_notes"%></td>
	    </tr>
	  <% end %>
	</tbody>
</table>