<% title "Artists" %>

<%= form_tag visual_submissions_path, :method => 'get' do %>  
  <p>  
    <%= text_field_tag :search, params[:search] %> 
    <%= submit_tag "Search", :name => nil %>  
  </p>  
<% end %>

<table>
  <tr>
	<th><%= sortable "artist_id" %></th>
	<th><%= sortable "user_id" %></th>
    <th><%= sortable "first_name" %></th>
    <th><%= sortable "last_name" %></th>
    <th><%= sortable "professional_name" %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "phone" %></th>
	<th><%= sortable "visual_paid" %></th>
	<th><%= sortable "literary_pad" %></th>
    <th>Bio</th>
    <th>Visual Art Submissions</th>
  </tr>
  <% for artist in @artists %>
    <tr>
	  <td><%= link_to artist.id, artist_path(artist) %></th>
	  <td><%= link_to artist.user_id, user_path(artist.user) %></td>
      <td><%= link_to artist.first_name, artist_path(artist) %></td>
      <td><%= link_to artist.last_name, artist_path(artist) %></td>
      <td><%= link_to artist.professional_name %></td>
      <td><%= mail_to artist.email %></td>
	  <td><%= artist.phone %></td>
      <td><%= artist.visual_paid %></td>
      <td><%= artist.literary_paid %></td>
      <td><%= artist.bio %></td>
      <td>
	    <% if artist.visual_submission == nil %>
			No Submissions
	    <% else %>
			<% for submission in artist.visual_submission %>
			   <%= link_to submission.title, visual_submission_path(submission) %></br>
			<% end %>
		<% end %>
	  </td>
      <td><%= link_to "Show", artist %></td>
      <td><%= link_to "Edit", edit_artist_path(artist) %></td>
      <td><%= link_to "Destroy", artist, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Artist", new_artist_path %></p>
