<%= form_for(@installation_submission) do |f| %>
  <% if @installation_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@installation_submission.errors.count, "error") %> prohibited this installation_submission from being saved:</h2>

      <ul>
      <% @installation_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<legend>Installation Submission Overview</legend>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
</fieldset>
<fieldset>
	<legend>Submission Dimensions</legend>

	  <p>
	    <%= f.label :height %><br />
	    <%= f.text_field :height, :width => "30px" %>
	    <%= f.select :h_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.h_unit) %>
	    
	  </p>
	  <p>
	    <%= f.label :width %><br />
	    <%= f.text_field :width %>
	    <%= f.select :w_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.w_unit) %>
	  </p>
	  <p>
	    <%= f.label :depth %><br />
	    <%= f.text_field :depth %>
	    <%= f.select :d_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.d_unit) %>
	  </p>
</fieldset>
<fieldset>
	<legend>Document/Image Upload</legend>
	<script src="https://cds.box.com/embed/upload.js?token=foqc138s7f3i0mqqulkeecrxngx9pj6j&folder_id=28364306&w=450&h=400&i=please%20use%20this%20to%20submit%20supporting%20files%20up%20to%202gb.&d=1&t=submit%20supporting%20files%20to%20Seattle%20Erotic%20Art%20Festival%202012&r=1" type="text/javascript"></script>

	
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
