<%= form_for(@installation_submission) do |f| %>
  <% if @installation_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@installation_submission.errors.count, "error") %> prohibited this installation_submission from being saved:</h2>

      <ul>
      <% @installation_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<legend>Installation Submission Overview</legend>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
	<%= f.check_box :want_funding %>
	<%= f.label "Check this box if you want this installation to be considered for grant funding. (If you do, be sure to include a basic budget outline and cost estimate in your attachments below, as well as how much funding you are requesting.)"%><a href="#?w=500" rel="popup_funding" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a><br />
  </p>
   <p>
    <%= f.label "Brief Description (Please include full details as attachment(s) below)" %><br />
    <%= f.text_area :description %>
  </p>
	<p>
		<%= f.check_box :for_sale %>
	   <%= f.label "This piece is for sale" %>
	</p>
	<p id="for-sale">
		<%= f.label :price %><br />
		<%= f.text_field :price %>
	</p>
	
</fieldset>
<fieldset>
	<legend>Submission Dimensions</legend>
	<small>Provide the approximate size, even if this is not finalized.</small>

	  <p>
	    <%= f.label :height %><br />
	    <%= f.text_field :height, :width => "30px" %>
	    <%= f.select :h_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.h_unit) %>
	    
	  </p>
	  <p>
	    <%= f.label :width %><br />
	    <%= f.text_field :width %>
	    <%= f.select :w_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.w_unit) %>
	  </p>
	  <p>
	    <%= f.label :depth %><br />
	    <%= f.text_field :depth %>
	    <%= f.select :d_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @installation_submission.d_unit) %>
	  </p>
</fieldset>
<fieldset>
	<legend>Document/Image Upload</legend>
	<script src="https://cds.box.com/embed/upload.js?token=foqc138s7f3i0mqqulkeecrxngx9pj6j&folder_id=28364306&w=450&h=400&i=please%20use%20this%20to%20submit%20supporting%20files%20up%20to%202gb.&d=1&t=submit%20supporting%20files%20to%20Seattle%20Erotic%20Art%20Festival%202012&r=1" type="text/javascript"></script>

	
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<b>Submission Guidelines</b>
<ul>
	<li>Artists may submit up to three separate installation proposals.</li>
	<li>Artists must submit an introductory description of their installation(s) in as much detail as possible.</li>
	<li>If applying for grant funding, artists must include a basic budget outline and cost estimate, and indicate how much grant funding they are requesting.</li>
	<li>Artists are encouraged to upload additional supporting materials, like images, videos, drawings, etc.</li>
</ul>

<div id="popup_funding" class="popup_block">
    <h2>Funding</h2>
   The Festival is proud to continue to offer our grant for interactive visual artists. Selected artists will be granted up to $750 to create works of art that feature a participatory element.

</div>