<% title 'Literary Submissions' %>

  <% if !current_user.is_artist? %>
   <%= form_tag literary_submissions_path, :method => 'get' do %>  
     <p>  
       <%= text_field_tag :search, params[:search] %> 
       <%= submit_tag "Search", :name => nil %>  
     </p>  
   <% end %>
  <% end %>
<% if !current_user.is_artist? %>
	<%= paginate @literary_submissions %>
<% end %>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
		<th><%= sortable "first_name"%></th>
		<th><%= sortable "last_name" %></th>
	    <th><%= sortable "Title" %></th>
		<th><%= sortable "Type"%>
	    <th><%= sortable "File Name" %></th>
		<th></th>
  </tr>

<% @literary_submissions.each do |literary_submission| %>
  <tr>
		  <td><%= link_to literary_submission.artist.first_name %>
	      <td><%= link_to literary_submission.title, edit_literary_submission_path(literary_submission) %></td>
		  <td><%= link_to literary_submission.lit_type, edit_literary_submission_path(literary_submission)%></td>
	      <td><%= link_to literary_submission.doc_file_name, edit_literary_submission_path(literary_submission) %></td>

    <td><%= link_to 'Delete', literary_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Literary Submission', new_literary_submission_path %>

<br />
<p>You have until the official deadline to make any changes to your submission(s). Once the deadline hits, your submission(s) will be complete. Once decisions have been made, the site will be updated to indicate if any of your pieces were accepted, and you will also receive an email announcing the jury notifications.</p>



<ul>
	<li>Artists may submit up to five entries.</li>
	<li>All entries must be in .doc or .rtf format only.</li>
	<li>All entries must follow standard manuscript format including 12 pt. font and 1-inch margins.</li>
	<li>Each page must have only the title and page number in the top right hand corner (no other identifying information).</li>
	<li>Poetry must be no more than 2 pages, single-spaced.</li>
	<li>Short stories must be no more than 1,500 words, 7 pages, double-spaced.</li>
	<li>Short one-act plays or scripts must be no more than 15 pages, including scene setup.</li>
</ul>