<%= form_for @user do |f| %>
  <p>	
	<%= f.label :email %>
	<%= f.text_field :email %>
  </p>
  <p>
	<%= f.label :role %>
	<%= f.select(:role, options_for_select([["admin", "admin"], ["artist", "artist"], ["handler", "handler"], ["juror", "juror"]], @user.role))%>
  </p>
  <p>
	<%= f.label :paid_visual %>	
	<%= f.check_box :paid_visual %>
  </p>
  <p>
    <%= f.label :paid_literary%>
	<%= f.check_box :paid_literary %>
  </p>
  <p>
     <%= f.submit %>
  </p>
<% end %>