<%= form_for @user do |f| %>
 <%= render "shared/error_messages", :target => @user %>
  <p>	
	<%= f.label :email %>
	<%= f.text_field :email %>
  </p>
  <p>
	<%= f.label :role %>
	<%= f.select(:role, options_for_select([["admin", "admin"], ["artist", "artist"], ["handler", "handler"], ["juror", "juror"], ["film admin", "film admin"], ["literary admin", "literary admin"], ["performance admin"], ["installation admin"], ["invited artist"]], @user.role))%>
  </p>
  <p>
	<%= f.label :juror%>
	<%= f.text_field :juror %>
  </p>
     <%= f.submit %>
  </p>
<% end %>