<center><h3>Frequently Asked Questions</h3></center>
<br />
<b>Who can submit art to the Festival?</b>
<p>All artists from across the nation and world, of all ages (18 years old or older), genders, orientations, ethnicities, proclivities, etc., are encouraged to submit their art for consideration. </p>
<p>We accept visual art of all kind, short film/video, installation art, literary art, performance art, and pieces for the Festival Store.</p>
<p>Note that you must be the artist of the piece in order to submit the work. If you submit art and are not the artist, you will be disqualified.</p>
<br />
<b>Who “owns” the art and therefor can submit it?</b>
<p>In the case of photography, the person who took the picture/clicked the shutter of the camera is the person who owns the picture and can submit the piece.</p>
<p>In the case of collage art, typically there typically is no concern over the ownership, as it tends to be covered under “fair use” laws. That said, collages need to be sufficiently your own art/creation, and are considered on a case by case basis by the jury.</p>
<br />
<b>What do I do if the artwork is a collaboration and I wish to credit others?</b>
<p>If your artwork is a collaboration, decide which artist will be the main contact person, and that person will submit the artwork. The contact person can then add information during the submission process under “Notes” to identify that it was a collaboration, and list the other artist(s).</p>
<p>Note that this counts as a submission for both artists. (So if the person listed as a collaborator is also paying a fee and submitting art, this piece would count towards their 5 submissions.)</p>
<br />
<b>What do I do if the artwork is a collaboration and I wish to credit others?</b>
<p>If your artwork is a collaboration, decide which artist will be the main contact person, and that person will submit the artwork. The contact person can then add information during the submission process under “Notes” to identify that it was a collaboration, and list the other artist(s).</p>
<p>Note that this counts as a submission for both artists. (So if the person listed as a collaborator is also paying a fee and submitting art, this piece would count towards their 5 submissions.)</p>
<br />
<b>I cannot attend the Festival, may I still submit art?</b>
<p>Yes, you may still submit art. Attendance of the Festival is not mandatory for submission.</p>
<p>I will not be attending the Festival, can I give my artist pass and/or discounted ticket to someone else or get a refund?</p>
<p>No, you cannot give your artist pass to someone else or get a refund. These are offered as a special thank-you for your submission; they are non-transferable and non-refundable.</p>
<br />
<b>What do I receive for paying a submission fee?</b>
<p>All artists who pay the submission fee receive a weekend pass to the first weekend of the Festival (Saturday and Sunday) for self (artist), which has a $30 value, and a $10, $20 or $30 discount (depending on the submission fee you paid) to the second weekend of the Festival for self (artist), either for a Friday ticket or a full weekend pass (Friday, Saturday and Sunday).</p>
<p>Discount codes will be provided when Festival tickets are available for purchase. Each discount code can only be used once. Each artist will receive only one discount code (if you apply to multiple Calls for Art and pay multiple fees, you would receive one discount code for the highest fee you paid.)</p>
<br />
<b>May I submit to multiple Calls for Art?</b>
<p>Yes, artists may submit once for as many Calls for Art as they wish, but note that each one has its own fees and requirements. (For example, you may submit once to the Call for Visual Art and once to the Call for Film, but you may not pay twice and submit twice to the Call for Visual Art.)</p>
<br />
<b>Can you look at my portfolio and give me suggestions on what I should submit?</b>
<p>No, we do not review portfolios. Choose your best pieces to submit, the ones you are most in love with, rather than trying to guess what the jury will like best.</p>
<p>Note that the visual art jury is new each year, so do not submit pieces based on what art was accepted last year -- the new jury may accept completely different types of art each year.</p>
<br />
<b>Will you ask for model age certification?</b>
<p>Yes. In order for works to be displayed at the Festival, we require a declaration form from all accepted artists. Artists will provide this when delivering their artwork to the Festival.</p>
<p>All models whose images are displayed in the Festival must have given consent to be photographed and were at least 18 years old when photographed. This applies to photographic images (digital and film) and video/DVD art. It also applies to any mixed media art that contains photographic images of people.</p>
<p>On the form, you will certify that you have personally verified age by witnessing documentation, such as a driver's license or passport with photo, that the model was over 18 years old at the time the image was taken, and that you have collected and maintained individually identifiable records for each model. Those records must contain the models' names, dates of birth, stage names, and any other names they have ever performed or modeled under. This certification is necessary regardless of the apparent age, identifiably, or the completeness of the image of the model(s).</p>
<br />
<b>Why can’t I log in?</b>
<p>A couple of things can prevent you from being able to log in or from being able to complete the entry form.</p>
<p>Most importantly, your browser must be set up to accept cookies. Depending upon which browser you are using, this is often found under Tools > Internet Options > Privacy.</p>
<p>Your password is case-sensitive. Make sure that your caps lock is not on and that you are capitalizing your password exactly as you did when you registered.</p>
<p>Your account name is the email you used to register your account.</p>
<p>If you do not remember your password, you can request that it be sent to the email address you used to register by clicking on the “Forgot your password?” button on the main page.</p>
<br />
<b>How can I make sure that I get credit for my submission fee?</b>
<p>Submission fees are collected through PayPal and are automatically credited to your account. Once you have paid your submission fee, you will be able to submit art.</p>
<p>If you have paid your fee and still do not have the ability to upload your art, wait 1-2 minutes and then “refresh” the page. If you still are unable to upload art, contact PayPal to assure your payment has been sent.</p>
<p>In the case that PayPal confirms the payment was made but you still can’t submit, please email info@SeattleErotic.org with a copy of the invoice from PayPal and we will assist you.</p>
<br />
<b>I am an international artist, how do I pay my entry fee?</b>
<p>Only North American artists (US, Mexico and Canada) are required to pay the entry fee. Fees will be waived for all other international artists.</p>
<br />
<b>I am entering more than one piece, what is my submission fee?</b>
<p>The submission fee for each Call for Art allows for more than one submission. The visual art submission fee allows for up to 5 pieces of art. The literary art submission fee allows for up to 5 pieces of literary art. The film submission fee allows for up to 3 short films. The installation art submission fee allows for up to 3 proposals. The Festival Store submission fee allows for up to 20 submissions. There is no fee for performance or for a DJ proposal.</p>
<p>Note that you may apply to each distinct Call for Art only once, and you may apply to as many different Calls for Art as you wish (i.e. you cannot pay two visual art submission fees and submit 10 pieces; you can pay the visual art submission fee and submit up to 5 pieces of visual art, the literary art fee and submit up to 5 pieces of literary art, etc.).</p>
<br />
<b>Can I add more works of art once I have completed my entry?</b>
<p>You will have the option to review and edit your entry/entries at any point until the deadline. This includes uploading additional works (up to the amount allowed for each respective Call for Art), and changing the art you have submitted. You do not need to pay a second submission fee when you make adjustments or add more art at a later time.</p>
<b>I did not finish my entry, can I finish at a later time or will my account be deleted?</b>
<p>Your account will not be deleted. You may continue your entry by logging in using your email and password. When you log in, you will be able to see your entry status. Links for reviewing and completing your entry will be available. Until the deadline, you can freely make changes.</p>
<br />
<b>How do I review or edit my entries?</b>
<p>Once you sign in, click the link for the type of art you submitted and want to review. On that page, you can upload more artwork by selecting the “New Submission” link; you can delete submissions by clicking the “delete” link to the right of the thumbnail; you can edit pieces you have already submitted by clicking on their title, which opens the “submission overview” page where you can change any details about the piece. If you edit a piece, be sure to click on the “Update Submission” button to register your changes.</p>
<p>When you upload your images they are automatically resized into the thumbnails you see when you visit the art submission page. Also, the dimensions are stored automatically so that the images you and the jury see have the correct proportions.</p>
<br />
<b>I am submitting 3D (or extremely detailed) art and I would like to include some detail images. How do I do this?</b>
<p>Select the box that says “This is a 3D piece” and you will be allowed to submit up to three images of that piece.</p>
<br />
<b>Why can't I upload my image?</b>
<p>Your image my be too large or not in a supported format. We request that images be in JPEG format, no smaller than 500k and no larger than 5MB in size (in pixels, the optimum resolution would be at least 1000 pixels on the longest side. This is typically about 1MB in size.) Low resolution images will be fuzzy and will not give our jury a fair sense of your work.</p>
<p>If you are still unsure how to proceed, please email <%= mail_to "info@SeattleErotic.org" %>.</p>
<br />
<b>Do you accept transparency slides?</b>
<p>No, we do not accept transparency slides.</p>
<br />
<b>When submitting to the Call for Visual Art, should my work be framed?</b>
<p>Your work does not need to be framed in the JPEG images of your pieces. If you include frames in your images, the jury will judge the frame as well as the piece.</p>
<p>If you are accepted into the exhibition, you will need to have your work framed (see below for details).</p>
<p>Note that when providing the dimensions of your artwork, you must list the size of the framed work and provide the closest estimate possible.</p>
<br />
<b>How should I frame my art?</b>
<p>We ask that all accepted visual artists deliver their work framed and ready to hang on the walls. We recommend acrylics over glass, as it is lighter (lower shipping costs) and less likely to break.</p>
<p>The Festival is proud to partner with two excellent frame shops offering Festival artists discounted premium services. To reduce shipping costs, you may wish to ship unframed art and have it framed locally in Seattle, or even provide an electronic file of your print to have it both printed and framed locally (at your cost). Local artists may also take advantage of these discounts.</p>
<p>Frame Up Studios is a Bronze Sponsor of the Festival and offers quality framing at a 10% discount on ready-made frames and a 20% discount on custom framing. They are able to do both printing and framing of your work. Contact Rob Bradley to coordinate at (206) 547-4657 or <%= mail_to "frameupstudios@aol.com" %>.</p>
<p>Frame Central Capitol Hill is a Leather Sponsor of the Festival and offers quality framing at a 35% discount. They are not able to print pieces, only frame them. Contact Dennis Turner to coordinate at (206) 720-2054 or <%= mail_to "capitolhillFC@framecentral.com" %>.</p>
<br />
<b>Why do you ask for a legal name?</b>
<p>Your legal name is required to ensure your entry as a selected artist at the Festival, and for payment if you sell art works or store items. If you prefer to use a professional name that is different from your legal name, this will be used for any public purposes (name tags, catalog, website, etc).</p>
<br />
<b>What is expected for my bio/artistic statement?</b>
<p>People will want to know more about you, the artist: what inspires you, something you’d like the viewer to know about your work. What would you like them to think about as they view your art?</p>
<p>Statements are limited to 250 characters - about 3 sentences - written in the third person. If you decide to use a pseudonym, do not forget to use it instead of your legal name and do not include your hometown or other identifying information.</p>
<p>Artist bios will not be available to the jury until after selections have been finalized.</p>
<p>All bios will be edited for grammatical correctness and length.</p>
<br />
<b>Why is my email required?</b>
<p>The Seattle Erotic Art Festival's primary method of communication with artists is via email. Entry updates and jury notifications will be sent by email.</p>
<p>Because this is a critical method of communication, it is important that the correct email address be on file; a small typo could keep you from getting your notification letter. Also, to prevent missing these important communications, make sure that SeattleErotic.org is allowed by any spam filter you may have in place.</p>
<br />
<b>What does “publish in promotional materials” mean?</b>
<p>Promotional materials include the Festival website, posters, postcards, advertisements, programs, etc. We recognize that not everyone wants all information published, therefore we have given you the option of providing permission to publish information regarding your website, email address, state/country of residence and individual images. We only publish “professional”  information for accepted and invited artists, keeping all personal information such as legal names and home addresses confidential.</p>
<p>Giving the Festival permission to publish your information also enables our staff to assist patrons in contacting you if they are interested in your art.</p>
<p>Similarly, we will not publish your images on the Festival website or in any catalog or catalog-substitute if you deny permission for image publication.</p>
<br />
<b>How do I price my work?</b>
<p>This is dependent upon many factors, including the cost of your materials and framing or other installation preparation, the value of your time, your reputation as an artist, etc.</p>
<p>Here are some websites that might be helpful:<br />
<%= link_to "http://www.studionotes.org/16/pricing.html" %><br />
<%= link_to "http://www.vsarts.org/x652.xml" %><br />
<%= link_to "http://studiochalkboard.evansville.edu/r-pricing.html" %><br />
</p>
<br />
<b>Why can’t I enter the exact price of my art?</b>
<p>The Festival only prices art in whole dollar amounts. The starting price for exhibition art is $200. Art valued at less than the minimum requires the approval of the Visual Art Director. Contact the Artist Liaison for more information at <%= mail_to "artistliaison@SeattleErotic.org" %>.</p>
<br />
<b>I have registered, paid my fee and uploaded my art. Will I receive confirmation that my submission is complete?</b>
<p>Once you have paid your fee and uploaded your art, you have until the official deadline to make any changes. Once the deadline hits, your submission will be complete. The website will say that your work is under consideration. Once decisions have been made, the site will be updated to indicate if any of your pieces were accepted. You will also receive an email announcing the jury notifications.</p>
<br />
<b>When will I hear if my art was selected?</b>
<p>Notifications will be sent in April, and exact timing remains to be announced. Please check SeattleErotic.org and subscribe to our newsletter for updates: <%= link_to "http://SeattleErotic.org/Newsletter" %></p>
<p>If you did not receive an email regarding your status by May 1, 2012, please contact us at <%= mail_to "info@SeattleErotic.org" %>.</p>
<br />
<b>How should I deliver my art?</b>
<p>All accepted artists will receive delivery/shipping instructions soon after receiving the acceptance notification.</p>
<p>Artists can either drop-off the artwork in person, or carefully wrap all artwork and ship it to the mailing address we provide. Note that the shipping address is NOT at Fremont Studios.</p>
<br />
<b>What happens to unsold art?</b>
<p>Artists have three options for unsold art.<br />
	<ol>
		<li>Artists can pick up artwork in person during the designated time, or have an authorized person pick it up.</li>
    	<li>For return shipping, artists must provide a return shipping label with the original shipment of art (with the carrier of their choice). Note that shipping labels are not billed until the label is scanned and processed for return shipping, so if the art sells and there is no return, there is no charge.</li>
    	<li>Artists can donate any unsold work to the Foundation for Sex Positive Culture, producer of the Festival.</li>
	</ol>
<p>
<p>Note that if no return shipping label is provided and no one picks up the art, it will be considered a donation to the Foundation for Sex Positive Culture.</p>
<br />
<p>Do I retain the rights to my work?</p>
<p>Yes, you always retain all rights to your work. You will be asked to authorize us to publish your work in our catalog and on our website (and in the literary art anthology if you are a literary artist), and we only have permission to publish in a limited capacity. You may submit your work to other festivals and events without restriction.</p>
<p>All art that is featured on the website and catalog is watermarked/accredited.</p>
<br />
<b>I forgot to document (photograph) my work before I sent it; can I get it back?</b>
<p>It is important to make sure you document your work for your portfolio, including taking high-quality photographs, before you ship or deliver it to us, especially if it is a one-of-a-kind.</p>
<p>If it does not sell and you have completed your shipping or pick-up information, your work will be returned to you once the Festival is over. Work that is sold will be given or mailed to the purchaser at the end of the Festival. We will not return artist work that has been sold.</p>
<br />
<b>May I contact the person who purchased my work?</b>
<p>Art patrons and collectors are given the opportunity at the time of purchase to give permission to be contacted by the artist. Contact the Artist Liaison to request purchaser contact information at <%= mail_to "artistliaison@seattleerotic.org" %>.</p>
<br />
<b>Who do I contact if I have questions that are not answered here?</b>
<p>Please email <%= mail_to "info@SeattleErotic.org" %> for all other questions or concerns and your email will be forwarded to the appropriate person.</p>