<%= form_for(@performance_submission) do |f| %>
  <% if @performance_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance_submission.errors.count, "error") %> prohibited this performance_submission from being saved:</h2>

      <ul>
      <% @performance_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<legend>Performance Submission Overview</legend>
  <p>
    <%= f.label :title, "Title of Performance" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :descrption, "Detailed description of your act." %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </p>
  <p>
    <%= f.label :type, "Type of performance" %><br />
    <%= f.text_field :type %><br />
	<small>For example, burlesque, aerial, circus arts, cabaret, puppetry, etc.</small>
  </p>
  <p>
    <%= f.label :stage_requirements %><br />
    <%= f.text_area :stage_requirements %>
  </p>
</fieldset>
<fieldset>
	<legend>Proposal is Intended For</legend>
	<small>Note you can select more than one, if applicable.</small><br />
	  <div class="notes">
	      <h4>Ambient Performance</h4>
	      <p class="last">Ambient performances are more geared toward solo or small group interaction and brevity.</p>
    </div>
	<%= f.check_box :ambient_performance %>
	<%= f.label :ambient_performance %>
	<br />
	<%= f.check_box :mainstage_performance %>
	<%= f.label :mainstage_performance %>
</fieldset>
<fieldset>
	<legend>Performer Information</legend>
  <p>
    <%= f.label :performance_experience %><br />
    <%= f.text_area :performance_experience %>
  </p>
  <p>
    <%= f.label :bio, "Brief biography (approximately 200 words)" %><br />
    <%= f.text_area :bio %><br />
	<small>for use on website if accepted into the Festival.</small>
  </p>
</fieldset>
<fieldset>
	<legend>Supporting Information</legend>
	Provide links to supporting materials like websites, YouTube videos, news reviews, etc.
  <p>
    <%= f.label :url1, "URL" %><br />
    <%= f.text_field :url1 %>
  </p>
  <p>
    <%= f.label :url1, "URL" %><br />
    <%= f.text_field :url2 %>
  </p>
  <p>
    <%= f.label :url1, "URL" %><br />
    <%= f.text_field :url3 %>
  </p>
	<script src="https://cds.box.com/embed/upload.js?token=foqc138s7f3i0mqqulkeecrxngx9pj6j&folder_id=28364306&w=450&h=400&i=please%20use%20this%20to%20submit%20supporting%20files%20up%20to%202gb.&d=1&t=submit%20supporting%20files%20to%20Seattle%20Erotic%20Art%20Festival%202012&r=1" type="text/javascript"></script><br />
	<small>You must upload a high resolution, print-ready headshot. You are encouraged to submit additional supporting materials like more photos, videos (up to 2gb), etc.</small>

</fieldset>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<b>Submission Requirements:</b>
<ul>
	<li>Performers must apply by the deadline. Incomplete applications will not be considered.</li>
	<li>Performers must be willing to work with the Performance Director and/or choreographer to adapt their acts for the Festival.</li>
	<li>Selected performers must be available for conceptual meetings in late-April and for rehearsals, which are scheduled to begin in May.</li>
	<li>Performers must be at least 18 years old. All body types, ages (over 18), genders, and ethnicities are encouraged to apply.</li>
	<li>Auditions will be required.</li>
</ul>
