<%= form_for @store_submission do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :artist_id %><br />
    <%= f.number_field :artist_id %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :quantity_accepted %><br />
    <%= f.text_field :quantity_accepted %>
  </p>
  <p>
    <%= f.label :accepted %><br />
    <%= f.text_field :accepted %>
  </p>
  <p><%= f.submit %></p>
<% end %>
