<%= form_for @store_submission do |f| %>
  <%= f.error_messages %>
<fieldset>
	<legend>Store Submission Overview</legend>
	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
		<%= f.label :type, "Type of piece" %>
		<%= f.select(:type, options_for_select([['Greeting Card'], ['Postcard'], ['Poster'],['Print'],['Book'],['Sculpture'],['Clothing'],['Jewelry'],['DVD'],['Toy'], ['Other']], @store_submission.type), {:include_blank => true, :width => "200px"}) %>
	  </p>
	  <p id="store-type-other"><br />
		<%= f.text_field :type_other %>
	  </p>
	  <div class="notes">
	      <h4>Notes</h4>
	      <p class="last">Sale price is what the piece sells for -- the Festival receives 40% commission on this sale price.</p>
    </div>
	  <p>
		<%= f.label :price, "Price per piece" %><br />
		$<%= f.text_field :price %><br />
		<small>Must be a whole number.</small>
	  </p>
	  <p>
	    <%= f.label :quantity, "Quantity Proposed" %><br />
	    <%= f.text_field :quantity, :size => "30px" %>
 		<small>You can propose a quantity of 1-50.</small>
	  </p>
</fieldset>
<fieldset>
	<legend>Store Submission Dimensions</legend>

		<%= f.check_box :dimension, :id => "store-dim-check" %>
	    <%= f.label "Is this submission three dimensional?" %>
	 <p>
	    <%= f.label :height %><br />
	    <%= f.text_field :height, :width => "30px" %>
	    <%= f.select :h_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @store_submission.h_unit) %>
	    
	  </p>
	  <p>
	    <%= f.label :width %><br />
	    <%= f.text_field :width %>
	    <%= f.select :w_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @store_submission.w_unit) %>
	  </p>
	  <p id="store-three-dee">
	    <%= f.label :depth %><br />
	    <%= f.text_field :depth %>
	    <%= f.select :d_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @store_submission.d_unit) %>
	  </p>
</fieldset>
<fieldset>
	<legend>Store Details</legend>
	<p>
	  <%= f.label "How is your work presented?" %>
	  <%= f.select :presentation, options_for_select([['Shrink-wrapped'],['Foam Core'],['Matte'], ['Framed'],['Other']], @store_submission.presentation) %>
    </p>
    <p id="presentation-other">
	   <%= f.text_field :presentation_other %>
	</p>
	<p>
		<%= f.check_box :provide_display %>
		<%= f.label "I will be providing a display." %>
	</p>
	<p>
		<%= f.label :notes %><br />
		<%= f.text_area :notes %>
	</p>

</fieldset>
<fieldset>
	<legend>Image Upload</legend>
	 <%= f.file_field :image %>
</fieldset>
 <% if current_user.role == "store-admin" || current_user.role == "admin" %>
  <p>
    <%= f.label :quantity_accepted %><br />
    <%= f.text_field :quantity_accepted %>
  </p>
  <p>
    <%= f.label :accepted %><br />
    <%= f.text_field :accepted %>
  </p>
 <% end %>
  <p><%= f.submit %></p>
<% end %>

<b>Store Submission Requirements</b>
	<ul>
    	<li>Artists may submit up to 20 different items to the Store (e.g. postcards, prints, posters, jewelry, statues, etc).</li>
    	<li>Artists may propose a quantity ranging from 1 to 50 of each item.</li>
    	<li>Each individual item need not be submitted for approval. Similar items that are the same price may be grouped together; a representative sampling is acceptable. (For example, if you want the Store to feature three different postcards with a quantity of 10 each, then create one submission entry for a postcard and say the quantity is 30, and then in the notes section say that there are three different images for those postcards).</li>
	</ul>


