<% title "Store Submissions" %>

<table id="store-index" class="display">
  <thead>
    <tr>
      <th>Art ID</th>
      <th>Title</th>
      <th>Type</th>
      <th>Image</th>
      <th>Artist Email</th>
      <th>Professional Name</th>
      <th>Price</th>
      <th>Qty Prop</th>
      <th>Qty Accept</th>
      <th>Ship</th>
      <th>In Person</th>
      <th>Donate</th>
      <th>Quantity Received</th>
      <th>Quantity Sold</th>
      <th>Quantity Returned</th>
      <th>Discrepancy</th>
      <% if current_user.is_admin? || current_user.is_store_admin? || current_user.is_handler? %>
      <th>Notes</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @store_submissions.each do |store_submission| %>
    <tr data-id = "<%= dom_id store_submission %>" >
      <td><%= store_submission.id %></td>
      <td><%= link_to store_submission.title, edit_store_submission_path(store_submission) %></td>
      <% if store_submission.type %>
      <td><%= link_to store_submission.type, edit_store_submission_path(store_submission) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td>
	<% if store_submission.visual_submission_id %>
	<% if store_submission.visual_submission  %>
	<%= link_to image_tag(store_submission.visual_submission.images.first.image.url(:thumb)), store_submission.visual_submission.images.first.image.url(:original), :target => "_blank" %>
	<% end %>
	<% else %>
	<% if store_submission.image %>
	<%= link_to image_tag(store_submission.image.url(:thumb)), store_submission.image.url(:original), :target => "_blank" %>
	<% else %>
	No Image!
	<% end %>
	<% end %>
      </td>
      <td><%= mail_to store_submission.artist.email %></td>
      <td><%= link_to store_submission.artist.professional_name, artist_path(store_submission.artist) %></td>
      <td><%= store_submission.price %></td>
      <td><%= store_submission.quantity %></td>
      <% if current_user.is_admin? || current_user.is_store_admin? %>
      <td><%= best_in_place store_submission, :quantity_accepted, :nil => store_submission.quantity_accepted %></td>
      <% else %>
      <td><%= store_submission.quantity_accepted %></td>
      <% end %>

      <% if store_submission.artist.return_arrangements == "I will include a return shipping label with the original shipment of art (with the carrier of your choice)" %>
      <td>X</td>
      <% else %>
      <td></td>
      <% end %>
      <% if store_submission.artist.return_arrangements == "I (or my authorized agent) will pick up my unsold work in person" %>
      <td>X</td>
      <% else %>
      <td></td>
      <% end %>
      <% if store_submission.artist.return_arrangements == "I will donate any unsold items to the Foundation" %>
      <td>X</td>
      <% else %>
      <td></td>
      <% end %>
      <% if current_user.is_store_admin? || current_user.is_admin? || current_user.is_handler? %>
      <td><%= store_submission.quantity_received %></td>
      <td><%= best_in_place store_submission, :quantity_sold, :nil => store_submission.quantity_sold %></td>
      <td><%= best_in_place store_submission, :quantity_returned, :nil => store_submission.quantity_returned %></td>
      <td><%= store_submission.discrepancy %></td>
      <td><%= link_to "Notes", edit_notes_store_submission_path(store_submission), :class => "admin_notes"%></td>
      <% else %>
      <td><%= store_submission.quantity_returned %></td>
      <% end %>		
    </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.is_invited? %>
<p><%= link_to "New Store Submission", new_store_submission_path %></p>
<% end  %>
<br />
<b>Store Submission Requirements</b>
<ul>
  <li>Artists may submit up to 20 different items to the Store (e.g. postcards, prints, posters, jewelry, statues, etc).</li>
  <li>Artists may propose a quantity ranging from 1 to 50 of each item.</li>
  <li>Each individual item need not be submitted for approval. Similar items may be grouped together; a representative sampling is acceptable. (For example, if you want the Store to feature three different postcards with a quantity of 10 each, then create one submission entry for a postcard and say the quantity is 30, and then in the notes section say that there are three different images for those postcards).</li>
</ul>


<div id="popup_shipping" class="popup_block">
  <h2>Shipping Company</h2>
  <p>This is the carrier of your choice. You will provide an account number for us to bill, or a return shipping label with this carrier, for us to use when sending back any of your unsold work.</p>
</div>
