<% title "Store Submissions" %>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
    <th>Title</th>
    <th>Type</th>
	<th>Image</th>
    <th>Quantity Proposed</th>
    <th>Quantity Accepted by Store</th>
  </tr>
  <% for store_submission in @store_submissions %>
    <tr>
      <td><%= link_to store_submission.title, edit_store_submission_path(store_submission) %></td>
	  <% if store_submission.type %>
      	<td><%= link_to store_submission.type, edit_store_submission_path(store_submission) %></td>
      <% else %>
		<td></td>
	  <% end %>
	  <td>
		<% if store_submission.visual_submission_id %>
			<%= link_to image_tag(store_submission.visual_submission.images.first.image.url(:thumb)), store_submission.visual_submission.images.first.image.url(:original), :target => "_blank" %>
	  	<% else %>
			<% if store_submission.image %>
	     		<%= link_to image_tag(store_submission.image.url(:thumb)), store_submission.image.url(:original), :target => "_blank" %>
			<% else %>
				No Image
			<% end %>
	  	<% end %>
	   </td>
      <td><%= store_submission.quantity %></td>
      <td><%= store_submission.quantity_accepted %></td>
	  <td><%= link_to "Duplicate", duplicate_store_submission_path(store_submission) %>
      <td><%= link_to "Delete", store_submission, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Store Submission", new_store_submission_path %></p>

<b>Store Submission Requirements</b>
	<ul>
    	<li>Artists may submit up to 20 different items to the Store (e.g. postcards, prints, posters, jewelry, statues, etc).</li>
    	<li>Artists may propose a quantity ranging from 1 to 50 of each item.</li>
    	<li>Each individual item need not be submitted for approval. Similar items may be grouped together; a representative sampling is acceptable. (For example, if you want the Store to feature three different postcards with a quantity of 10 each, then create one submission entry for a postcard and say the quantity is 30, and then in the notes section say that there are three different images for those postcards).</li>
	</ul>
