<% title "Store Submissions" %>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
    <th>Title</th>
    <th>Description</th>
	<th>Image</th>
    <th>Quantity</th>
    <th>Quantity Accepted</th>
  </tr>
  <% for store_submission in @store_submissions %>
    <tr>
      <td><%= link_to store_submission.title, edit_store_submission_path(store_submission) %></td>
      <td><%= link_to store_submission.description, edit_store_submission_path(store_submission) %></td>
	  <td><%= image_tag store_submission.image.url(:thumb) %></td>
      <td><%= store_submission.quantity %></td>
      <td><%= store_submission.quantity_accepted %></td>
	  <td><%= link_to "Duplicate", duplicate_store_submission_path(store_submission) %>
      <td><%= link_to "Delete", store_submission, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Store Submission", new_store_submission_path %></p>
