
<div id="jury_main_image">
	<%= link_to image_tag(@visual_submission.images.first.image.url(:large)), @visual_submission.images.first.image.url(:original), :target => "_blank" %>
</div>

<% if @visual_submission.images.count > 1 %>
     <% c = 1 %>
	<% for image in @visual_submission.images %>
		<div id="jury_image_<%= c %>"><%= link_to image_tag(image.image.url(:small)), image.image.url(:large) %></div>
		<% c = c + 1 %>
	<% end %>
<% end %>
<div id="jury_info">
	<b>Title: </b><%= @visual_submission.title %><br />
	<b>Medium: </b><%= @visual_submission.medium %><br />
	<b>Height: </b><%= @visual_submission.height %> <%= @visual_submission.h_unit%> <b>Width: </b><%= @visual_submission.width %> <%= @visual_submission.w_unit%> <b>Depth: </b><%= @visual_submission.depth %> <%= @visual_submission.d_unit%>
	
</div>
<br />
<div>
	<b>Dan:</b>  <%= @visual_submission.jury_one_vote %><br />
	<b>Daniel:</b>  <%= @visual_submission.jury_two_vote %><br />
	<b>Ellen:</b>  <%= @visual_submission.jury_three_vote %><br />
	<b>Jim:</b>  <%= @visual_submission.jury_four_vote %><br />
	<b>Mistress Matisse</b>  <%= @visual_submission.jury_five_vote %><br />
	<b>Average Vote:</b>  <%= @visual_submission.average_vote %></br>
	
<div id="voting">
	  <td><b>Final Vote:</b><%= best_in_place @visual_submission, :acceptance_status, :type => :select, :collection => [["Undecided", "Undecided"],["Denied", "Denied"],["Accepted", "Accepted"]], :nil => @visual_submission.acceptance_status %></td>
	
</div>
<div>
	<% if @prev_submision || @next_submission %>
		<%= link_to 'Previous', @prev_submission %>
		<%= link_to 'Next', @next_submission %>
	<% end %>
</div>
