<%= form_for @visual_submission do |f| %>
  <%= render "shared/error_messages", :target => @visual_submission %>
<fieldset>
	<legend>Submission Overview</legend>

	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :medium %><br />
	      <%= f.select(:medium, options_for_select([['Photography'], ['Sculpture'], ['Painting'], ['Digital Art'], ['Mixed Media'], ['Drawing'], ['Ceramics'], ['Jewelry'], ['Multi-Media'], ['Printmaking'], ['Textile'], ['Other']], @visual_submission.medium), {:include_blank => true}) %>
	  </p>
		<p>
			<%= f.label :wall_card_description %><br />
			<%= f.text_field :wall_card_description %>
		</p>
	  <p>
	    <%= f.label :year_created %><br />
	    <%= f.text_field :year_created %><br />
		<small><i>There are no restrictions on when art work was created.</i></small>
	  </p>
	  <p>
	    <%= f.label :sale_price %><a href="#?w=500" rel="popup_saleprice" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a><br />
	    $<%= f.number_field :sale_price %></a><br />
		<small><i>Price must be at least $200 and a whole number.</i></small>
	  </p>
	   <p>
			<%= f.check_box :donate_proceeds %>
			<%= f.label :donate_proceeds, "Check this box if you want all the proceeds from your art sales to go the Festival as a donation." %>
			<a href="#?w=500" rel="popup_donate" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
		</p>
	 
</fieldset>
<fieldset>
	<legend>Visual Submission Dimensions</legend>
	<small>When providing the dimensions of your artwork, you must list the size of the framed work and provide the closest estimate possible.
    Your work does not need to be framed in the JPEG images of your pieces. If you include frames in your images, the jury will judge the frame as well as the piece.
    If you are accepted into the exhibition, you will need to have your work framed (see our FAQs for additional information about framing.)</small>
	  <p>
		<%= f.check_box :dimension, :id => "dim-check" %>
	    <%= f.label "Is this submission three dimensional?" %>
	  <a href="#?w=500" rel="popup_dimension" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
	  <p>
	    <%= f.label :height %><br />
	    <%= f.text_field :height, :width => "30px" %>
	    <%= f.select :h_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.h_unit) %>
	    
	  </p>
	  <p>
	    <%= f.label :width %><br />
	    <%= f.text_field :width %>
	    <%= f.select :w_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.w_unit) %>
	  </p>
	  <p id="three-dee">
	    <%= f.label :depth %><br />
	    <%= f.text_field :depth %>
	    <%= f.select :d_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.d_unit) %>
	  </p>
</fieldset>
<fieldset>
	<legend>Additional Information</legend>

	<%= f.label "Edition of Your Piece" %><a href="#?w=500" rel="popup_edition" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a><br />
	<%= f.radio_button :edition, 'Original', :checked => true %> Original<br />
	<%= f.radio_button :edition, 'Open Edition' %> Open Edition<br />
	<%= f.radio_button :edition, 'Limited Edition' %> Limited Edition<br />
	  <p id="limited-edition-1">
	    <%= f.label :edition_position %><br />
	    <%= f.number_field :edition_position %>
	  </p>
	  <p id="limited-edition">
	    <%= f.label :edition_total %><br />
	    <%= f.number_field :edition_total %>
	  </p>
	  <div class="notes">
	      <h4>Notes</h4>
	      <p class="last">Please provide additional information about the submission that cannot be depicted in the image, including collaborators, materials used, process of creation, etc.</p>
    </div>
	  <p>
	    <%= f.label :notes %><br />
	    <%= f.text_area :notes, :rows => "20" %>
	  </p>
</fieldset>
<fieldset>
	<legend>Image Upload</legend>
	<% count = 0 %>
	<%= f.fields_for :images do |image_fields| %>
	
	  <% if image_fields.object.new_record? %>
		<p>
			<%= image_fields.file_field :image, :id => "file-field-" + count.to_s %>
		</p>
	  <% end %>
	   <% count += 1 %>
	<% end %>
	
 	<%= f.fields_for :images do |image_fields| %>
	  <% unless image_fields.object.new_record? %>
		<p>
			<%= link_to image_tag(image_fields.object.image.url(:small)), image_fields.object.image.url(:original) %>
			<%= image_fields.check_box :_destroy %>
			<%= f.label "delete" %>
			
	  <% end %>
	<% end %>
	
	<br />
	<small>Reminder: do not upload images that include a watermark or signature, as this will disqualify you.</small><br />
	Need to submit detail images?<a href="#?w=500" rel="popup_detail" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
	

</fieldset>
<fieldset>
	<legend>To Be Considered for the Store</legend>
  <p>
	<%= f.check_box :store_submit %>
	<%= f.label :store_submit, "I would like a similar version of this piece (with the same title) to be considered for the Festival Store." %>
	<a href="#?w=500" rel="popup_store" class="poplight"><%= image_tag("/assets/icon_info.gif") %></a>
  </p>
</fieldset>
 
  <p><%= f.submit %></p>
<% end %>

<br />

<b>Submission Guidelines</b>
<ul>
	<li>Artists may submit up to five entries.</li>
	<li>Images must be submitted in JPEG format.</li>
	<li>Images should be no smaller than 500k and no larger than 5MB in size (in pixels, the optimum resolution would be at least 1000 pixels on the longest side. This is typically about 1MB in size.)</li>
	<li>Any image with a watermark that obscures the image or identifies the artist will be rejected.</li>
	<li>Images do NOT need to be of framed art for the submission process. If the frame is included in the image, the jury will judge both the piece and the frame. Note that all accepted work must be framed before the Festival. See the FAQs page for details.</li>
	<li>The model age certificate form is only required for accepted artists. You do not need to provide it unless you are selected by the jury, in which case we will ask that you include it with the delivery of your artwork.</li>
</ul>

<div id="popup_limited" class="popup_block">
    <h2>Limited Edition Artwork</h2>
    <p>This is a lot of stuff that I don't know how to answer but should go in this box.</p>
</div>
<div id="popup_dimension" class="popup_block">
    <h2>Three Dimensional</h2>
    <p>We consider any piece of art that is meant to be viewed from more than one angle as a 3-D piece. Usually this is a sculpture or any wall-mounted art with a depth greater than 4 inches.</p>
</div>
<div id="popup_store" class="popup_block">
    <h2>Festival Store</h2>
    <p>By checking this box, a proposal for the Festival Store will automatically be drafted. The piece for the Store needs to have the same title and be a different version of the piece you are suggesting for the exhibition (for example, if you have prints of the painting you are suggesting for the exhibition, or mini sculptures of your sculpture, or prints of your framed photography image, etc). You will need to add additional information for this Store submission, in order for it to be complete. You can view this under “Store Submissions.”</p>
</div>
<div id="popup_saleprice" class="popup_block">
    <h2>Sale Price</h2>
    <p>All art in the exhibition is to be offered for sale. Minimum price for exhibition pieces is $200.  Sale price is what the piece sells for -- the Festival receives a gallery standard 40% commission on this sale price.</p>
</div>
<div id="popup_edition" class="popup_block">
    <h2>Edition</h2>
    <p>A piece of art designated an <b>original</b> means that there are no other reproductions in existence. (For example, painting, illustration, multi-media assemblage, etc.)</p>
    <p>A piece of art designated as being a part of a <b>limited edition</b> means that the artist releases only a certain number of reproductions. (This is a common practice in sculpture, photography, printmaking, etc.). Please include both the position in the edition as well as how many total pieces make up the edition. (For example, if the artist is submitting the second sculpture cast from a mold and only intends to make 10 sculptures total, this would be designated as Limited Edition, 2 of 10.)</p>
    <p>A piece of art designated as being part of an <b>open edition</b> means that the artist does not intend to limit the amount of reproductions made. (For example, there may be only one photograph in existence now, but the artist could print another photograph the same size in the future.)</p>
</div>
<div id="popup_donate" class="popup_block">
    <h2>Donating to the Festival</h2>
    <p>The Festival is a 501c3 nonprofit; your donations may be tax deductible. We will send a donation receipt and thank you letter for any donations made, for tax purposes. Your support makes a real difference.</p>
</div>
<div id="popup_details" class="popup_block">
    <p>If you are submitting a collage, drawing, or other piece that requires detail images, please select the check box above in “Dimensions” that says “This is a 3D piece” and you will be allowed to submit up to three images.</p>
</div>


