<%= form_for @visual_submission do |f| %>
  <%= render "shared/error_messages", :target => @visual_submission %>
<fieldset>
	<legend>Submission Overview</legend>
	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :medium %><br />
	      <%= f.select(:medium, options_for_select([['Photography', 'Photography'], ['Sculpture', 'Sculpture'], ['Painting'], ['Other', 'Other']], @visual_submission.medium), {:include_blank => true}) %>
	  </p>
	  <p>
	    <%= f.label :year_created %><br />
	    <%= f.text_field :year_created %>
	  </p>
	  <p>
	    <%= f.label :sale_price %><br />
	    <%= f.number_field :sale_price %>
	  </p>
</fieldset>
<fieldset>
	<legend>Submission Dimensions</legend>
	  <p>
		<%= f.check_box :dimension, :id => "dim-check" %>
	    <%= f.label "Is this submission three dimensional?" %>
	  <a href="#?w=500" rel="popup_dimension" class="poplight">Learn More</a>
	  <p>
	    <%= f.label :height %><br />
	    <%= f.text_field :height, :width => "30px" %>
	    <%= f.select :h_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.h_unit) %>
	    
	  </p>
	  <p>
	    <%= f.label :width %><br />
	    <%= f.text_field :width %>
	    <%= f.select :w_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.w_unit) %>
	  </p>
	<div id="three-dee">
	  <p>
	    <%= f.label :depth %><br />
	    <%= f.text_field :depth %>
	    <%= f.select :d_unit, options_for_select([['Inches', 'Inches'],['Feet', 'Feet'],['Centimeters', 'Centimeters'], ['Meters','Meters']], @visual_submission.d_unit) %>
	  </p>
	</div>
</fieldset>
<fieldset>
	<legend>Additional Information</legend>
	  <p>
	    <%= f.label :notes %><br />
	    <%= f.text_area :notes %>
	  </p>
	  <p>
		<%= f.check_box :limited_edition, :id => "li-check" %>
	    <%= f.label :limited_edition %>
		<a href="#?w=500" rel="popup_limited" class="poplight">Learn More</a>
	  </p>
	<div id="limited-edition" >
	  <p>
	    <%= f.label :edition_position %><br />
	    <%= f.number_field :edition_position %>
	  </p>
	  <p>
	    <%= f.label :edition_total %><br />
	    <%= f.number_field :edition_total %>
	  </p>
	</div>
</fieldset>


<fieldset>
	<legend>Image Upload</legend>
	<%= f.fields_for :images do |image_fields| %>
	  <% if image_fields.object.new_record? %>
		<p>
			<%= image_fields.file_field :image %>
		</p>
	  <% end %>
	<% end %>
	
 	<%= f.fields_for :images do |image_fields| %>
	  <% unless image_fields.object.new_record? %>
		<p>
			<%= link_to image_tag(image_fields.object.image.url(:small)), image_fields.object.image.url(:original) %>
			<%= image_fields.check_box :_destroy %>
			
	  <% end %>
	<% end %>
	<p>Select images to remove.</p>

</fieldset>
  <p>
	<%= f.check_box :store_submit %>
	<%= f.label "I would like this piece to be considered for the store" %>
	<a href="#?w=500" rel="popup_store" class="poplight">Learn More</a>
	
 
  <p><%= f.submit %></p>
<% end %>

<div id="popup_limited" class="popup_block">
    <h2>Limited Edition Artwork</h2>
    <p>This is a lot of stuff that I don't know how to answer but should go in this box.</p>
</div>
<div id="popup_dimension" class="popup_block">
    <h2>Dimension</h2>
    <p>Is this art in three dimensions?  For instance, like a pillow or a sock puppet.</p>
</div>
<div id="popup_store" class="popup_block">
    <h2>SEAF Store</h2>
    <p>The store is awesome, you should love it!</p>
</div>


