

<div id="jury_main_image">
	<%= link_to image_tag(@visual_submission.images.first.image.url(:large)), @visual_submission.images.first.image.url(:original), :target => "_blank" %>
</div>
<% juror = "jury_" + current_user.juror + "_vote" %>

<% if @visual_submission.images.count > 1 %>
     <% c = 1 %>
	<% for image in @visual_submission.images %>
		<div id="jury_image_<%= c %>"><%= image_tag image.image.url(:small) %></div>
		<% c = c + 1 %>
	<% end %>
<% end %>
<div id="jury_info">
	<b>Title: </b><%= @visual_submission.title %><br />
	<b>Medium: </b><%= @visual_submission.medium %><br />
	<b>Height: </b><%= @visual_submission.height %> <%= @visual_submission.h_unit%> <b>Width: </b><%= @visual_submission.width %> <%= @visual_submission.w_unit%> <b>Depth: </b><%= @visual_submission.depth %> <%= @visual_submission.d_unit%>
	
</div>
<div id="voting">
	<b>vote: </b><%= best_in_place @visual_submission, juror, :type => :select, :collection => [["1", 1],["2", 2], ["3", 3],["4", 4], "5", 5], :nil => @visual_submission.send(juror) %>
</div>
<div>
	<% if @prev_submision || @next_submission %>
		<%= link_to 'Previous', @prev_submission %>
		<%= link_to 'Next', @next_submission %>
	<% end %>
</div>