
<p>
	<%= form_for @visual_submission do |f| %>
		<% juror = "jury_" + current_user.juror + "_vote" %>
	    <%= f.select juror , options_for_select([[1],[2],[3], [4], [5]]) %>
		<p>
			<%=f.submit "Vote" %>
		</p>
	<% end %>
	
</p>
<p>
	<% if @prev_submision || @next_submission %>
		<%= link_to 'Previous', @prev_submission %>
		<%= link_to 'Next', @next_submission %>
	<% end %>
</p>
<%= link_to (image_tag @visual_submission.image.url(:large)), @visual_submission.image.url(:original) %>