<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" cellpadding="3" cellspacing="3">
	
	<%= paginate @visual_submissions %>
	
  <tr>
    <th><%= sortable "title" %></th>
    <th><%= sortable "medium" %></th>
	<th>Image</th>
	<th><%= sortable "jury_#{current_user.juror}_vote" %></th>
	<th><%= sortable :average_vote, "average vote" %></th>
	<th><%= sortable :acceptance_status, "status" %></th>

  </tr>
  <% for visual_submission in @visual_submissions %>
    <tr>
      <td><%= link_to visual_submission.title, visual_submission_path(visual_submission) %></td>
      <td><%= visual_submission.medium %></td>
	 	  <% if visual_submission.images.count >= 1 %>
		    <td><%= link_to image_tag(visual_submission.images.first.image.url(:thumb)), visual_submission.images.first.image.url(:original), :target => "_blank" %></td>
		 <% else %>
		    <td>No Image</td>
		<% end %>
	  <td><%= visual_submission.send("jury_#{current_user.juror}_vote") %></td>
	  <td><%= visual_submission.average_vote %>
	  <td><%= visual_submission.acceptance_status %>

    </tr>
  <% end %>
</table>


