<%= form_for @visual_submission do |f| %>
  <%= render "shared/error_messages", :target => @visual_submission %>
<fieldset>
	<legend>Submission Overview</legend>

	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :medium %><br />
	      <%= f.select(:medium, options_for_select([['Photography'], ['Sculpture'], ['Painting'], ['Digital Art'], ['Mixed Media'], ['Drawing'], ['Ceramics'], ['Jewelry'], ['Multi-Media'], ['Printmaking'], ['Textile'], ['Other']], @visual_submission.medium), {:include_blank => true}) %>
	  </p>	 
</fieldset>
<fieldset>
	<legend>Receiving</legend>
	 <p>
		<%= f.label :received %><br />
		<%= f.check_box :received %>
	</p>
	 <p>
		<%= f.label :quality %><br />
		<%= f.select(:quality, options_for_select([['Perfect','Perfect'],['Damaged', 'Damaged']]), :id => "quality-check")  %>
	</p>
	 <p id="quality-notes">
		<%= f.label :quality_notes %><br />
		<%= f.text_area :quality_notes %>
	</p>
	 <p>
		<%= f.label :display_included %><br />
		<%= f.check_box :display_included, :id => "display-check" %>
	</p>
	 <p id="display-notes" >
		<%= f.label :display_notes %><br />
		<%= f.text_area :display_notes %>
	</p>
	 <p>
		<%= f.label :packing_material %><br />
		<%= f.text_area :packing_material_notes %>
	</p>
	
 
  <p><%= f.submit %></p>
<% end %>

<br />

