<% title "Visual Art Submissions" %>

  <% if current_user.is_juror? %>
	 <%= render "juror_index" %>
 <% else %>

	<% if current_user.is_artist? || current_user.is_invited? %>
		Your Artist ID: <%= current_user.artist.id %><br />
	<% end %>


	  <table id="visual-index" class="display">
		  <thead>
			  <tr>
				<th>ID</th>
			    <th>Title</th>
			    <th>Medium</th>
				<th>Price</th>
			  <% if !current_user.is_artist?  %>
				<th>First Name</th>
				<th>Last Name</th>
				<% if current_user.is_admin? || current_user.is_handler? %>
		        	<th>Email</th>
			    <% end %>
				<th>Ship</th>
				<th>In Person</th>
				<th>Donate</th>
				<th>Return Status</th>
				<th>Acceptance Status</th>
			 <% end %>
			 <% if current_user.is_admin? %>
			 <% end %>
				<th>Image</th>
			  </tr>
		  </thead>
		  <tbody>
		  <% for visual_submission in @visual_submissions %>
		    <tr>
			  <td><%= link_to visual_submission.id, visual_submission_path(visual_submission) %></td>
		      <td><%= link_to visual_submission.title, visual_submission_path(visual_submission) %></td>
		      <td><%= link_to visual_submission.medium, visual_submission_path(visual_submission) %></td>
			  <td><%= visual_submission.sale_price %>
			 <% if !current_user.is_artist? %>
				  <td><%= visual_submission.artist.first_name %></td>
				  <td><%= visual_submission.artist.last_name %></td>
				  <% if current_user.is_admin? || current_user.is_handler? %>
				  	<td><%= visual_submission.artist.email %></td>
			      <% end %>
			 <% end %>
			    <% if visual_submission.artist.return_arrangements == "I will include a return shipping label with the original shipment of art (with the carrier of your choice)" %>
					<td>X</td>
				<% else %>
					<td></td>
				<% end %>
				<% if visual_submission.artist.return_arrangements == "I (or my authorized agent) will pick up my unsold work in person" %>
					<td>X</td>
				<% else %>
					<td></td>
				<% end %>
				<% if visual_submission.artist.return_arrangements == "I will donate any unsold items to the Foundation" %>
					<td>X</td>
				<% else %>
					<td></td>
				<% end %>
				<td><%= visual_submission.return_status %></td>
				<% if current_user.is_admin? %>
			     <td><%= best_in_place visual_submission, :acceptance_status, :type => :select, :collection => [["Undecided", "Undecided"],["Declined", "Declined"],["Accepted", "Accepted"], ["Invited", "Invited"]], :nil => visual_submission.acceptance_status %></td>
			 <% else %>
				<td><%= visual_submission.acceptance_status %>
			 <% end %>
			  <% if visual_submission.images.count >= 1 %>
			    <td><%= link_to image_tag(visual_submission.images.first.image.url(:thumb)), visual_submission.images.first.image.url(:original), :target => "_blank" %></td>
			 <% else %>
			    <td>No Image</td>
			<% end %>
		    </tr>
		  <% end %>
		</tbody>
	</table>
 <% end %>

  <% if current_user.is_invited? %>

	<%# if @visual_submissions.count < 5 %>
	<% if current_user.is_invited? %>
		<p><%= link_to "New Visual Submission", new_visual_submission_path %></p>
	<% else %>
		<p>You have submitted the maximum number of entries</p>
	<% end %>
 	
   <% else %>
   <% end %>

<br />
<p>You have until the official deadline to make any changes to your submission(s). Once the deadline hits, your submission(s) will be complete. Once decisions have been made, the site will be updated to indicate if any of your pieces were accepted, and you will also receive an email announcing the jury notifications.</p>



<b>Submission Guidelines</b>
<ul>
	<li>Artists may submit up to five entries.</li>
	<li>Images must be submitted in JPEG format.</li>
	<li>Images should be no smaller than 500k and no larger than 5MB in size (in pixels, the optimum resolution would be at least 1000 pixels on the longest side. This is typically about 1MB in size.)</li>
	<li>Any image with a watermark that obscures the image or identifies the artist will be rejected.</li>
	<li>Images do NOT need to be of framed art for the submission process. If the frame is included in the image, the jury will judge both the piece and the frame. Note that all accepted work must be framed before the Festival. See the FAQs page for details.</li>
	<li>The model age certificate form is only required for accepted artists. You do not need to provide it unless you are selected by the jury, in which case we will ask that you include it with the delivery of your artwork.</li>
</ul>