<%= form_for(@film_submission) do |f| %>
  <% if @film_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film_submission.errors.count, "error") %> prohibited this film_submission from being saved:</h2>

      <ul>
      <% @film_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
	<legend>Video/Short Film Overview</legend>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.number_field :duration %><br />
    <small><i>Duration must be 30 minutes or less.</i></small>
  </p>
</fieldset>
<fieldset>
	<legend>Video/Short Film Delivery</legend>	
  <p>
	<%= f.radio_button :delivery_type, 'URL', :checked => true %> URL<br />
	<%= f.radio_button :delivery_type, 'Physical Mail' %> Physical Mail<br />
	<%= f.radio_button :delivery_type, 'Upload' %> Upload<br />
  </p>

  <p id="delivery-url">
	<%= f.label :url %><br />
	<%= f.text_field :url %>
  </p>
  <p id="delivery-physical">
	<b>Please mail your DVD to:</b><br />
	Foundation for Sex Positive Culture<br />
	Seattle Erotic Art Festival -- Erotic Short Film Exhibition<br />
	4714 Ballard Ave. N.W. #M309<br />
	Seattle, WA 98107<br />
	<b>Must be received by the deadline.</b>
  </p>
   <p id="delivery-upload">
	
	<script src="https://cds.box.com/embed/upload.js?token=foqc138s7f3i0mqqulkeecrxngx9pj6j&folder_id=28364306&w=450&h=400&i=Please%20use%20this%20to%20submit%20video%20files%20up%20to%202gb.&d=1&t=Submit%20video%20to%20Seattle%20Erotic%20Art%20Festival%202012&r=1" type="text/javascript"></script>
   
   </p>

</fieldset>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<b>Submission Guidelines</b>
<ul>
	<li>Up to 3 submissions are allowed.</li>
	<li>Each one may be up to 30 minutes in length, but will not be considered if it extends beyond 30 minutes.</li>
	<li>If you plan to mail a DVD, it must be received by the deadline, March 10, 2012.</li>
</ul>
