<h1>Video Short/Film Submissions</h1>

  <% if !current_user.is_artist? %>
   <%= form_tag film_submissions_path, :method => 'get' do %>  
     <p>  
       <%= text_field_tag :search, params[:search] %> 
       <%= submit_tag "Search", :name => nil %>  
     </p>  
   <% end %>
  <% end %>
<% if !current_user.is_artist? %>
	<%= paginate @film_submissions %>
<% end %>

<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="600" cellpadding="3" cellspacing="3">
  <tr>
	<th>First Name</th>
	<th>Last Name</th>
    <th>Title</th>
    <th></th>
  </tr>

<% @film_submissions.each do |film_submission| %>
  <tr>
	<td><%= link_to film_submission.artist.first_name, artist_path(film_submission.artist) %></td>
	<td><%= link_to film_submission.artist.last_name, artist_path(film_submission.artist) %></td>
    <td><%= link_to film_submission.title, edit_film_submission_path(film_submission)  %></td>
    <td><%= link_to 'Delete', film_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

  <% if current_user.is_artist? %>

	<% if @film_submissions.count < 3 %>
		<p><%#= link_to "New Film Submission", new_film_submission_path %></p>
	<% else %>
		<p>You have submitted the maximum number of entries</p>
	<% end %>
 	
   <% else %>
		<p>Total: <%= @count %></p>
   <% end %>

<br />

<br />
<p>You have until the official deadline to make any changes to your submission(s). Once the deadline hits, your submission(s) will be complete. Once decisions have been made, the site will be updated to indicate if any of your pieces were accepted, and you will also receive an email announcing the jury notifications.</p>

<b>Submission Guidelines</b>
<ul>
	<li>Up to 3 submissions are allowed.</li>
	<li>Each one may be up to 30 minutes in length, but will not be considered if it extends beyond 30 minutes.</li>
</ul>
