<h1>Listing film_submissions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Delivery type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @film_submissions.each do |film_submission| %>
  <tr>
    <td><%= film_submission.title %></td>
    <td><%= film_submission.description %></td>
    <td><%= film_submission.duration %></td>
    <td><%= film_submission.delivery_type %></td>
    <td><%= link_to 'Show', film_submission %></td>
    <td><%= link_to 'Edit', edit_film_submission_path(film_submission) %></td>
    <td><%= link_to 'Destroy', film_submission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Film submission', new_film_submission_path %>
