<% if !current_user.artist %>
  <p><%= link_to "Add Profile", new_artist_path %></p>
<% else %>
  <p><%= link_to "Edit Profile", edit_artist_path(current_user.artist) %></p>
<% end %>
<% if current_user.artist %>
	<% if current_user.artist.unpaid_menu %>
		no link for paying
	<% else %>
		<p><%= link_to "Pay Submission Fees", new_order_path %>
	<% end %>
	
	<% if current_user.artist.visual_paid? %>
		<p><%= link_to "Visual Art", visual_submissions_path %></p>
	<% end %>
	<% if current_user.artist.literary_paid? %>
		<p><%= link_to "Literary Art", literary_submissions_path %></p>
	<% end %>
	<% if current_user.artist.installation_paid? %>
		<p><%= link_to "Installation Art", installation_submissions_path %></p>
	<% end %>
	<% if current_user.artist.store_paid? %>
		<p><%= link_to "Visual Art", store_submissions_path %></p>
	<% end %>		
<% end %>
  <p><%= link_to "Performance Submissions", performance_submissions_path %></p>
  <p><%= link_to "DJ Submissions", dj_submissions_path %></p>


