<% if !current_user.artist %>
	<%= link_to "Add Profile", new_artist_path %>
<% else %>
    <%= link_to "Edit Profile", edit_artist_path(current_user.artist) %>
<% end %>

<% if current_user.artist %>
	<% if current_user.artist.paid_visual? %>
		<%= link_to "Visual Art", visual_submissions_path, :var => "something" %>
	<% else  %>
		<%= form_tag APP_CONFIG[:paypal_url] do %>
		  <%= hidden_field_tag :cmd, "_s-xclick" %>
		  <%= hidden_field_tag :encrypted, current_user.paypal_visual_encrypted(visual_submissions_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
		  <p><%= link_to_submit 'Pay For Visual Submissions' %></p>
		<% end %>
	<% end %>

	<% if current_user.artist.paid_literary? %>
		<%= link_to "Literary Art" %>
	<% else %>
		<%= form_tag APP_CONFIG[:paypal_url] do %>
		  <%= hidden_field_tag :cmd, "_s-xclick" %>
		  <%= hidden_field_tag :encrypted, current_user.paypal_literary_encrypted(visual_submissions_url, payment_notifications_url(:secret => APP_CONFIG[:paypal_secret])) %>
		  <%= link_to_submit "Pay For Literary Submissions" %>
	<% end %>
	
	<% end %>

		<p><%= link_to "Film Art" %></p>
		<%= link_to "Installation Art" %>
<% end %> 

