<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Submit Your Art!" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%#= yield(:head) %>
  </head>
  <body>
    <div id="pagewidth">
		<div id="header"><center><%= image_tag("/assets/top-banner.jpg") %></center></div>
		<div id="navHolder" class="clearfix">
			<ul class="topnav">  
			    <li><a href="#">Home</a></li>  
			    <li>  
			        <a href="#">Details For Each Call</a>  
			        <ul class="subnav">  
			            <li><a href="#">Visual Art</a></li>  
			            <li><a href="#">Literary Art</a></li>
			   			<li><a href="#">Video/Short Film</a></li>  
						<li><a href="#">Installation Art</a></li>
						<li><a href="#">Performance Art</a></li>
						<li><a href="#">DJs</a></li>
			        </ul>  
			    </li>   
			    <li><a href="#">FAQ</a></li>    
			</ul>
		</div>

		<div id="wrapper" class="clearfix">
			<div id="user_nav">
					<% if user_signed_in? %>
						Signed in as <%= current_user.email %>
						<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
				 	<% end %>
			</div>

			<div id="leftcol">
				<% if user_signed_in? %>
				  <% if current_user.is_admin? %>
				     <%= render 'layouts/admin_menu' %>
				  <% elsif current_user.is_juror? %>
					 <%= render 'layouts/juror_menu' %>
				  <% elsif current_user.is_handler? %>
					 <%= render 'layouts/handler_menu' %>
				  <% else %>
					 <%= render 'layouts/artist_menu' %>
				  <% end %>
				<% else %>
				  <%= render 'layouts/login_form' %>
				<% end %>
			</div>

			<div id="content">


			   <p class="notice"><%= notice %></p>
		       <p class="alert"><%= alert %></p>

		      <%= content_tag :h1, yield(:title) if show_title? %>
		      <%= yield %>

		    </div>
	    </div>
	</div>
 
  </body>
</html>

